.annotated-word {
    position: relative;
}

.annotation {
    font-size: 0.75em;
    color: #888;
    margin-left: 2px;
    margin-right: 2px;
    font-weight: normal;
    background-color: #f9f9f9;
    border-radius: 3px;
    padding: 0 2px;
    vertical-align: baseline;
    white-space: nowrap;
}
